@font-face {
    font-family: OdinFont;
    src: url(../fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h4 {
    font-family: 'Lato';
    font-size: 16px;
}

.text {
    font-family: 'Lato';
    margin-left: 8vmin;
    margin-top: 2%;
    width: 100%;
}

.content {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.left {
    color: white;
    width: 35vw;
    background-image: url(../images/Halie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.right {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
    background-color: #F9FAFB;
}

.first {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-left: 8vmin;
    justify-content: flex-end;
    height: 35vh;
}

/* .form-div {
    height: 65vh;
} */

.second {
    display: flex;
    flex-direction: column;
    height: 35vh;
    background-color: #FFFFFF;

}

input:focus {
    border: 1px solid rgba(4, 4, 255, 0.4);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .15);
    outline: none;
}

input {
    border: 1px solid #E5E7EB;
    height: 20px;
    width: 200px;
    border-radius: 5px;
}

label {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: #49515C;
    letter-spacing: 0.15em;
    font-size: 9px;
}

.inputs {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: 8vmin;
    margin-bottom: 30vmin;
}

.leftInput {
    margin-right: 8vmin;
}

.eachInput {
    margin-top: 5px;
}

.third {
    font-family: 'Lato', sans-serif;
    height: 30vh;
    display: flex;
    padding-left: 8vmin;
    padding-top: 5vmin;
}

.log-in {
    text-decoration: none;
    color: #596D48;
}

button {
    height: 22%;
    width: 85%;
    color: white;
    border: 1px solid #596D48;
    border-radius: 8px;
    background-color: #596D48;
}

button:hover {
    color: #596D48;
    background-color: white;
}

.question-acc {
    margin-top: 10%;
}

.question-acc a:hover {
    color: black;
}

.question-acc h5 {
    font-weight: 500;
}

.shadow {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
}

.left h1 {
    font-family: OdinFont;
}

.upper {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 45%;
    font-size: 25px;
}

footer {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

footer a {
    color: white;
}

footer p {
    font-size: 12px;
}

input:invalid {
    border: 1px solid red;
}

#error {
    font-family: 'Lato';
    font-size: 8px;
    color: red;
}